<div class="card-header bg-dark font-white">

	<div class="input-group col-md-7 col-xl-6">

		<input type="text" class="form-control" id="searchName"
			placeholder="输入博客名称进行搜索"> <span class="input-group-btn">
			<button class="btn btn-secondary" type="button" id="searchNameBtn">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button></span>
	</div>
</div>

<div id="mainContainer" class="container">
	<div id="mainContainerRepleace" class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th data-field="id">ID</th>
					<th data-field="title">标题</th>
					<th data-field="user">博主</th>
					<th data-field="createTime">创建时间</th>
					<th data-field="readSize">阅读量</th>
					<th data-field="commentSize">评论量</th>
					<th data-field="voteSize">点赞量</th>
					<th data-field="tags">标签</th>
					<th data-field="operation">操作</th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="blog : ${blogModel.blogList}">
					<td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap" th:text="${blog.id}"></td>
					<td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap" th:text="${blog.title}"></td>
					<td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap" th:text="${blog.user.name}"></td>
					<td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap" th:text="${blog.createTime}"></td>
					<td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap" th:text="${blog.readSize}"></td>
					<td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap" th:text="${blog.commentSize}"></td>
					<td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap" th:text="${blog.voteSize}"></td>
					<td style="max-width: 100px;overflow: hidden; text-overflow:ellipsis;white-space: nowrap" th:text="${blog.tags}"></td>
					<td>
						<div>
							<a class="blog-view-blog" data-toggle="modal"
								data-target="#flipFlop" role="button"
								data-th-attr="blogId=${blog.id}"> <i
								class="fa fa-eye" aria-hidden="true"></i>
							</a> 
							<a class="blog-delete-blog" role="button"
								data-th-attr="blogId=${blog.id}"> <i class="fa fa-times"
								aria-hidden="true"></i>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:replace="~{fragments/page :: page}">...</div>

	</div>
</div>

<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog"
	aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalLabel">查看</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="blogFormContainer"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- JavaScript -->
<script src="../../js/admins/blog.js" th:src="@{/js/admins/blog.js}"></script>
